<%- contentFor('extra_css') %>
<link rel="stylesheet" href="/libs/quill/quill.snow.css">

<%- contentFor('content') %>
<div class="container-xxl">
    <div class="row justify-content-center">                        
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">                      
                            <h4 class="card-title">Quill Editor</h4>                      
                        </div><!--end col-->
                    </div>  <!--end row-->                                  
                </div><!--end card-header-->
                <div class="card-body pt-0">
                    <div id="editor">
                        <p>Hello World!</p>
                        <p>Some initial <strong>bold</strong> text</p>
                        <p><br /></p>
                    </div> 
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->                                                       
    </div><!--end row-->                    
</div><!-- container -->

<%- contentFor('extra_javascript') %>
<script src="/libs/quill/quill.js"></script>
<script src="/js/pages/form-editor.init.js"></script>
