<%- contentFor('extra_css') %>

<%- contentFor('content') %>

<div class="container-xxl">
                    
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <img src="/images/extra/card/img-1.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Finance</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">15 Sep 2024</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-2 text-truncate">How does cancer grow and spread?</a>
                        <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-10.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Billy Pearson</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col--> 
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <img src="/images/extra/card/img-2.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3 ">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Food</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">31 Dec 2023</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-2 text-truncate">Where does psoriasis usually start?</a>
                        <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-9.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Harry Simpson</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <img src="/images/extra/card/img-3.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3 ">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Health</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">18 Oct 2024</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-2 text-truncate">What Can Yoga Do for Migraine Relief?</a>
                        <p class="text-muted">When an unknown printer took a galley of type and scrambled generator on the Internet it to make a type specimen book. </p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-8.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Larry Wells</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/images/extra/card/img-4.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3 ">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Nature</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">12 Feb 2024</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-3 text-truncate">How Long Do Migraine Attacks Last? What to Expect</a>
                        <p class="text-muted">It is a long established fact that a reader will be  distracted by the readable content of a page when looking at its layout.</p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-7.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Steven Warner</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/images/extra/card/img-5.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3 ">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Economic</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">26 jun 2024</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-3 text-truncate">Your 5-Minute Read on Beating Stress</a>
                        <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-6.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Morgan Smith</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/images/extra/card/img-6.jpg" alt="" class="img-fluid rounded"/>
                        <div class="mt-3 ">
                            <span class="badge bg-purple-subtle text-purple px-2 py-1 fw-semibold ">Fashion</span> |   
                            <p class="mb-0 text-muted fs-12 d-inline-block">01 Aug 2024</p>
                        </div> 
                        <a href="" class="d-block fs-18 fw-medium text-body my-3 text-truncate">World Oral Health Day 2023</a>
                        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority web page editors now have suffered</p>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/images/users/avatar-2.jpg" alt="" class="thumb-md rounded-circle">
                                </div>                                      
                                <div class="flex-grow-1 ms-2 text-truncate text-start">
                                    <h6 class="m-0 text-dark">Cecil Herbert</h6>
                                    <p class="mb-0 text-muted">by <a href="">admin</a></p>
                                </div><!--end media-body-->
                            </div>                                             
                            <div class="align-self-center">
                                <a href="#" class="btn btn-sm btn-primary">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>                                        
                    </div><!--end blog-card-->               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->                                                      
    </div><!--end row-->
</div>

<%- contentFor('extra_javascript') %>