<%- contentFor('extra_css') %>

<%- contentFor('content') %>

<div class="container-xxl">                    
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Basic plan</h6>
                        <p class="text-muted pt-2 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                        <div class="pt-3">
                            <h2 class="d-inline-block ">$39.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>
                       <hr class="hr-dashed">
                        <ul class="list-unstyled pricing-content text-start pt-3 border-0 mb-0">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul>                                            
                        <a href="#" class="btn btn-dark py-2 px-5 mt-3 w-100"><span>Get Started</span></a>
                    </div><!--end pricing Table-->              
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col--> 
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">                                    
                    <div class="text-center">
                        <span class="badge bg-pink-subtle text-pink mt-0 py-1 px-2 mx-auto">Popular</span>
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Premium Plan</h6>
                        <p class="text-muted pt-2 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                        <div class="pt-3">
                            <h2 class="d-inline-block ">$49.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>
                       <hr class="hr-dashed">
                        <ul class="list-unstyled pricing-content text-start pt-3 border-0 mb-0">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul>                                            
                        <a href="#" class="btn btn-primary py-2 px-5 mt-3 w-100"><span>Get Started</span></a>
                    </div><!--end pricing Table--> 
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col--> 
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Plus Plan</h6>
                        <p class="text-muted pt-2 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                        <div class="pt-3">
                            <h2 class="d-inline-block ">$69.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>
                       <hr class="hr-dashed">
                        <ul class="list-unstyled pricing-content text-start pt-3 border-0 mb-0">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul>                                            
                        <a href="#" class="btn btn-dark py-2 px-5 mt-3 w-100"><span>Get Started</span></a>
                    </div><!--end pricing Table-->           
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col--> 
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Master Plan</h6>
                        <p class="text-muted pt-2 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                        <div class="pt-3">
                            <h2 class="d-inline-block ">$199.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>
                       <hr class="hr-dashed">
                        <ul class="list-unstyled pricing-content text-start pt-3 border-0 mb-0">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul>                                            
                        <a href="#" class="btn btn-dark py-2 px-5 mt-3 w-100"><span>Get Started</span></a>
                    </div><!--end pricing Table--> 
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->                                                        
    </div><!--end row-->
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icofont-bird-wings d-inline-block mt-2 display-4 text-blue"></i>
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Basic plan</h6>
                        <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul> 
                        <hr class="hr-dashed">   
                        <div class="pt-2">
                            <h2 class="d-inline-block ">$39.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>                                        
                        <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                    </div><!--end pricing Table-->              
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col--> 
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icofont-woman-bird d-inline-block mt-2 display-4 text-pink"></i>
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Premium Plan</h6>
                        <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul> 
                        <hr class="hr-dashed">   
                        <div class="pt-2">
                            <h2 class="d-inline-block ">$49.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>                                        
                        <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                    </div><!--end pricing Table-->              
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->  
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icofont-elk d-inline-block mt-2 display-4 text-success"></i>
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Plus Plan</h6>
                        <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul> 
                        <hr class="hr-dashed">   
                        <div class="pt-2">
                            <h2 class="d-inline-block ">$69.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>                                        
                        <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                    </div><!--end pricing Table-->              
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->  
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icofont-fire-burn d-inline-block mt-2 display-4 text-warning"></i>
                        <h6 class="pt-3 pb-2 m-0 fs-18 fw-medium">Master Plan</h6>
                        <ul class="list-unstyled pricing-content text-center pt-2 border-0 mb-3">
                            <li>30GB Disk Space</li>
                            <li>30 Email Accounts</li>
                            <li>30GB Monthly Bandwidth</li>
                            <li>06 Subdomains</li>
                            <li>10 Domains</li>
                        </ul> 
                        <hr class="hr-dashed">   
                        <div class="pt-2">
                            <h2 class="d-inline-block ">$199.00</h2>
                            <small class="font-12 text-muted">/month</small>
                        </div>                                        
                        <a href="#" class="btn btn-dark py-2 px-3 mt-2"><span>Get Started</span></a>
                    </div><!--end pricing Table-->              
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->                                                        
    </div><!--end row-->         
</div><!-- container -->

<%- contentFor('extra_javascript') %>