<%- contentFor('extra_css') %>

<link rel="stylesheet" href="/libs/vanilla-datatables/vanilla-dataTables.min.css">
<link rel="stylesheet" href="/libs/vanilla-datatables-editable/datatable.editable.min.css">

<%- contentFor('content') %>

<div class="container-xxl">
                    
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">                      
                            <h4 class="card-title">Editable</h4>                      
                        </div><!--end col-->
                        <div class="col-auto ms-auto">                      
                            <div class="bg-primary-subtle p-2 border-dashed border-primary rounded">
                                <span class="text-primary fw-semibold">Note :</span><span class="text-primary fw-normal"> if you want to data edit do double click on a table row.</span>
                            </div>                    
                        </div><!--end col-->
                    </div>  <!--end row-->                                  
                </div><!--end card-header-->
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Ext.</th>
                                    <th>City</th>
                                    <th data-type="date" data-format="YYYY/MM/DD">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                             <tr>
                                <td>Unity Pugh</td>
                                <td>9958</td>
                                <td>Curicó</td>
                                <td>2005/02/11</td>
                             </tr>
                             <tr>
                                <td>Theodore Duran</td>
                                <td>8971</td>
                                <td>Dhanbad</td>
                                <td>1999/04/07</td>
                             </tr>
                             <tr>
                                <td>Kylie Bishop</td>
                                <td>3147</td>
                                <td>Norman</td>
                                <td>2005/09/08</td>
                             </tr>
                             <tr>
                                <td>Willow Gilliam</td>
                                <td>3497</td>
                                <td>Amqui</td>
                                <td>2009/29/11</td>
                             </tr>
                             <tr>
                                <td>Blossom Dickerson</td>
                                <td>5018</td>
                                <td>Kempten</td>
                                <td>2006/11/09</td>
                             </tr>
                             <tr>
                                <td>Elliott Snyder</td>
                                <td>3925</td>
                                <td>Enines</td>
                                <td>2006/03/08</td>
                             </tr>
                             <tr>
                                <td>Castor Pugh</td>
                                <td>9488</td>
                                <td>Neath</td>
                                <td>2014/23/12</td>
                             </tr>
                             <tr>
                                <td>Pearl Carlson</td>
                                <td>6231</td>
                                <td>Cobourg</td>
                                <td>2014/31/08</td>
                             </tr>
                             <tr>
                                <td>Deirdre Bridges</td>
                                <td>1579</td>
                                <td>Eberswalde-Finow</td>
                                <td>2014/26/08</td>
                             </tr>
                             <tr>
                                <td>Daniel Baldwin</td>
                                <td>6095</td>
                                <td>Moircy</td>
                                <td>2000/11/01</td>
                             </tr>
                             <tr>
                                <td>Phelan Kane</td>
                                <td>9519</td>
                                <td>Germersheim</td>
                                <td>1999/16/04</td>
                             </tr>
                             <tr>
                                <td>Quentin Salas</td>
                                <td>1339</td>
                                <td>Los Andes</td>
                                <td>2011/26/01</td>
                             </tr>
                             <tr>
                                <td>Armand Suarez</td>
                                <td>6583</td>
                                <td>Funtua</td>
                                <td>1999/06/11</td>
                             </tr>
                             <tr>
                                <td>Gretchen Rogers</td>
                                <td>5393</td>
                                <td>Moxhe</td>
                                <td>1998/26/10</td>
                             </tr>
                            </tbody>
                        </table>  
                    </div>               
                </div><!--end card-body--> 
            </div><!--end card--> 
        </div> <!--end col-->                                                     
    </div><!--end row-->
</div><!-- container -->
                
<%- contentFor('extra_javascript') %>

<script src="/libs/vanilla-datatables/vanilla-dataTables.min.js"></script>
<script src="/libs/vanilla-datatables-editable/datatable.editable.min.js"></script>        
<script src="/js/pages/editable.init.js"></script>
        